*{
    margin: 0;
}

.section1{

    text-align: center;
    background-color: rgb(87, 85, 85);
    color: white;
    font-size: 25px;
  
}
.parrafo1{
    text-decoration: none;
    padding: 20px;
}

.parrafo1 span{
    text-transform:uppercase ;
    text-decoration: none;
    display: inline;
    margin: 0;
}

.section2{
    margin-top: 20px;
    
}
.props2{
    border-bottom: 2px solid black;
    padding: 10px;
    margin-inline: 20px;
    margin-bottom: 20px;
    
}
.p2{
    margin-inline: 20px;
    text-decoration: underline;
    text-transform: capitalize;

}
.diseño{
    margin-inline: 20px;
    margin-top: 10px;
    background-color: rgb(240, 238, 236);
    padding: 10px;
    border-left: 5px solid #ccc
    
}